In [23]:
!pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.3.0)
Requirement already satisfied: numpy in c:\python312\lib\site-packages (2.3.0)
Requirement already satisfied: matplotlib in c:\python312\lib\site-packages (3.10.3)
Requirement already satisfied: seaborn in c:\python312\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\python312\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\python312\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: C:\Python312\python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
file_path=r"C:\Users\Administrator\Downloads\cities.xlsx"
pd.read_excell("C:\Users\Administrator\Downloads\cities.xlsx")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2182808074.py, line 2)

In [3]:
print("hello world")

hello world

input and print

In [1]:
age=76
print(age)

76

In [5]:
age=18
print(age)

18

In [ ]:
age=input('Enter age')
print(age)

In [2]:
variable_name=input('prompt')
print(variable_name)

In [6]:
distance = input('Enter distance walked today')

In [7]:
print('Iwalked',distance,'km')

Iwalked 34 km

In [2]:
fruit=['guava','apple','pear','pinaple','banana','mango']
fruit[0:5:2]

['guava', 'pear', 'banana']

In [10]:
car=['Toyota','Benz','BMW','Audi','V8','TX']
car[-6:-1:2]

['Toyota', 'BMW', 'V8']

In [16]:
car=['Toyota','Benz','BMW','Audi','V8','TX']
car.append('Bentli')
print(car)

['Toyota', 'Benz', 'BMW', 'Audi', 'V8', 'TX', 'Bentli']

In [18]:
car=['Toyota','Benz','BMW','Audi','V8','TX']
car.extend(['Bentli','Roilce royc','Voxy'])
print(car)

['Toyota', 'Benz', 'BMW', 'Audi', 'V8', 'TX', 'Bentli', 'Roilce royc', 'Voxy']

In [ ]:
bonus=1000
station=input('Enter country:') .lower

if station=='Nakuru':
    print(1*bonus)
    if station=='Meru':
        print(0.5*bonus)
        if station=='Kiambu':
            print(0.1*bonus)
            print(f'How much should i take home =ksh', (int==pesa))

Some practice via kaggle dataset

In [9]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\python312\lib\site-packages (0.3.12)
Requirement already satisfied: packaging in c:\python312\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\python312\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\python312\lib\site-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in c:\python312\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\python312\lib\site-packages (from requests->kagglehub) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\python312\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python312\lib\site-packages (from requests->kagglehub) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\python312\lib\site-packages (from requests->kagglehub) (2025.6.15)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from tqdm->kagglehub) (0.4.6)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: C:\Python312\python.exe -m pip install --upgrade pip

In [17]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\python312\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\python312\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\python312\lib\site-packages (from kaggle) (2025.6.15)
Requirement already satisfied: charset-normalizer in c:\python312\lib\site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in c:\python312\lib\site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in c:\python312\lib\site-packages (from kaggle) (6.31.1)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\python312\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\python312\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\python312\lib\site-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in c:\python312\lib\site-packages (from kaggle) (80.9.0)
Requirement already satisfied: six>=1.10 in c:\python312\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\python312\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\python312\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\python312\lib\site-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in c:\python312\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from tqdm->kaggle) (0.4.6)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: C:\Python312\python.exe -m pip install --upgrade pip

In [21]:
import os


# Download the dataset
!kaggle datasets download -d rajanand/aishe -p datasets --unzip

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Python312\Scripts\kaggle.exe\__main__.py", line 7, in <module>
  File "C:\Python312\Lib\site-packages\kaggle\cli.py", line 68, in main
    out = args.func(**command_args)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python312\Lib\site-packages\kaggle\api\kaggle_api_extended.py", line 1741, in dataset_download_cli
    with self.build_kaggle_client() as kaggle:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Python312\Lib\site-packages\kaggle\api\kaggle_api_extended.py", line 688, in build_kaggle_client
    username=self.config_values['username'],
             ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^
KeyError: 'username'

Pandas Manupulation

In [3]:
file_path=r"C:\Users\Administrator\Downloads\advertising.csv"
advertising=pd.read_csv(file_path)
advertising

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [7]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
advertising.to_excel('advertising.xlsx',index=False)

In [13]:
advertising.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

Skipping and limiting rows

In [15]:
advertising=pd.read_csv(file_path,nrows=100)
advertising

    Unnamed: 0     TV  radio  newspaper  sales
0            1  230.1   37.8       69.2   22.1
1            2   44.5   39.3       45.1   10.4
2            3   17.2   45.9       69.3    9.3
3            4  151.5   41.3       58.5   18.5
4            5  180.8   10.8       58.4   12.9
..         ...    ...    ...        ...    ...
95          96  163.3   31.6       52.9   16.9
96          97  197.6    3.5        5.9   11.7
97          98  184.9   21.0       22.0   15.5
98          99  289.7   42.3       51.2   25.4
99         100  135.2   41.7       45.9   17.2

[100 rows x 5 columns]

manually removing

In [25]:
advertising=advertising.drop(5)
advertising.head(10)

    Unnamed: 0     TV  radio  newspaper  sales
2            3   17.2   45.9       69.3    9.3
3            4  151.5   41.3       58.5   18.5
4            5  180.8   10.8       58.4   12.9
6            7   57.5   32.8       23.5   11.8
7            8  120.2   19.6       11.6   13.2
8            9    8.6    2.1        1.0    4.8
9           10  199.8    2.6       21.2   10.6
10          11   66.1    5.8       24.2    8.6
11          12  214.7   24.0        4.0   17.4
12          13   23.8   35.1       65.9    9.2

In [31]:
advertising=pd.read_csv(file_path,skiprows=4,nrows=100)
advertising.head()

   4  151.5  41.3  58.5  18.5
0  5  180.8  10.8  58.4  12.9
1  6    8.7  48.9  75.0   7.2
2  7   57.5  32.8  23.5  11.8
3  8  120.2  19.6  11.6  13.2
4  9    8.6   2.1   1.0   4.8

Header 
This specifies the row where columns names are and start importing data from that point

In [32]:
advertising=pd.read_csv(file_path,header=3,nrows=100)
advertising.head()

   3   17.2  45.9  69.3   9.3
0  4  151.5  41.3  58.5  18.5
1  5  180.8  10.8  58.4  12.9
2  6    8.7  48.9  75.0   7.2
3  7   57.5  32.8  23.5  11.8
4  8  120.2  19.6  11.6  13.2