Visualisation using seaborn and matplotlib

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
file_path=r"C:\Users\Administrator\Downloads\heart.csv"
heart_df=pd.read_csv(file_path)
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [10]:
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
new_sex={
    1:'Male',
    0:'Female'
}

In [43]:
heart_df['sex']=heart_df['sex'].map(new_sex)

In [17]:
new_cp={
    0:'Typical angina',
    1:'Antypical angina',
    2:'Non-aginal pain',
    3:'Assymptomatic'
}

In [42]:
heart_df['cp']=heart_df['cp'].map(new_cp)

In [20]:
new_fbs={
    0:'False',
    1:'True'
}

Fastin blood sugar>120mg/dl

In [41]:
heart_df['fbs']=heart_df['fbs'].map(new_fbs)

In [23]:
restecg_new={
    0:'Normal',
    1:'ST-Twave abnomality',
    3:'Left ventricular hypathropy',
}

In [40]:
heart_df['restecg']=heart_df['restecg'].map(restecg_new)

In [26]:
exang_new={
    1:'Yes',
    0:'No'
}

In [39]:
heart_df['exang']=heart_df['exang'].map(exang_new)

In [28]:
new_slope={
    0:'Upslope',
    1:'Flat',
    2:'Downsloping'
}

In [38]:
heart_df['slope']=heart_df['slope'].map(new_slope)

In [30]:
new_thal={
    1:'Normal',
    2:'Fixed defect',
    3:'Reversibel defect'
}

In [37]:
heart_df['thal']=heart_df['thal'].map(new_thal)

In [32]:
new_target={
    0:'No heart disease',
    1:'Heart disase present'
}

In [36]:
heart_df['target']=heart_df['target'].map(new_target)

In [44]:
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,Male,Typical angina,125,212,False,ST-Twave abnomality,168,No,1.0,Downsloping,2,Reversibel defect,No heart disease
1,53,Male,Typical angina,140,203,True,Normal,155,Yes,3.1,Upslope,0,Reversibel defect,No heart disease
2,70,Male,Typical angina,145,174,False,ST-Twave abnomality,125,Yes,2.6,Upslope,0,Reversibel defect,No heart disease
3,61,Male,Typical angina,148,203,False,ST-Twave abnomality,161,No,0.0,Downsloping,1,Reversibel defect,No heart disease
4,62,Female,Typical angina,138,294,True,ST-Twave abnomality,106,No,1.9,Flat,3,Fixed defect,No heart disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,Male,Antypical angina,140,221,False,ST-Twave abnomality,164,Yes,0.0,Downsloping,0,Fixed defect,Heart disase present
1021,60,Male,Typical angina,125,258,False,Normal,141,Yes,2.8,Flat,1,Reversibel defect,No heart disease
1022,47,Male,Typical angina,110,275,False,Normal,118,Yes,1.0,Flat,1,Fixed defect,No heart disease
1023,50,Female,Typical angina,110,254,False,Normal,159,No,0.0,Downsloping,0,Fixed defect,Heart disase present
1024,54,Male,Typical angina,120,188,False,ST-Twave abnomality,113,No,1.4,Flat,1,Reversibel defect,No heart disease